In [9]:
import pandas as pd
from sqlalchemy import create_engine

In [10]:
import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv

In [11]:
coffe_data = pd.read_sql(
    sql="SELECT * FROM coffee_sales",
    con=engine
)

NameError: name 'engine' is not defined